$font-family: 'Roboto', sans-serif;

%button-style {
  width: 170px;
  height: 40px;
  background-color: #3b3a63;
  border-radius: 3px;
  border: none;
  font-family: $font-family;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  line-height: normal;
}

%nav-style {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

%background-style {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
